.datapersonal-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	background-color: lightgray;
	padding: 20px;
	border-radius: 20px;
	label{
		margin: 0.5vh 2vh 0.5vh 0vh;
	}
	input{
		margin: 0.5vh 0vh;
		height: 3vh;
		border-radius: 5px;
		border: none;
	}
	input:focus{
		outline:none;
	}
	p{
		color: red;
	}
	.datapersonal-input{
		display: flex;
	}
}